@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f0e5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) #0B0B1E;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0b0b1e;
  opacity: 0.5; /* Atur opacity untuk track */
}

*::-webkit-scrollbar-track:hover {
  background-color: #0b0b1e;
  opacity: 0.7; /* Atur opacity saat hover */
}

*::-webkit-scrollbar-track:active {
  background-color: #0b0b1e;
  opacity: 0.9; /* Atur opacity saat active */
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Atur warna thumb dengan opacity */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    159,
    208,
    186,
    0.5
  ); /* Atur warna thumb saat hover dengan opacity */
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(
    234,
    234,
    234,
    0.5
  ); /* Atur warna thumb saat active dengan opacity */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.zoom-image {
  transform: scale(1);
  opacity: 80%;
  will-change: transform;
}
.zoom-image.zoomed {
  opacity: 100%;
  transform: scale(1.5);
}

.hide-cursor {
  cursor: none;
}
